# Eclipse
eclipse/
.project
.settings/
.classpath
.pmd
# Gradle
.gradle/
build/
# IDEA
*.ipr
*.iws
*.iml
# Runtime
bin/
config/
crash-reports/
logs/
mods/
resourcepacks/
saves/
eclipse/options.txt
server/usernamecache.json
server